[user]
    name = BlakeJC94
    email = blakejamescook@gmail.com
    username = BlakeJC94

[alias]
    pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
    pullup = "!git pull --set-upstream origin $(git symbolic-ref --short HEAD)"
    primebranch = "!git symbolic-ref --short HEAD"
    hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an> %Creset' --abbrev-commit
    clonetree = !sh -c 'url=$1 && base=$(basename ${url}) && dir=${2:-${base%.*}} && mkdir ${dir} && echo cd ${dir} && cd ${dir} && git clone --bare ${url} .git && git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*" git fetch origin && git worktree add $(git primebranch) && cd $(git primebranch) && git pullup' -
    st = "!git status -sb"
    hub = "!gh"
    lg = "!git log --oneline"
    sync = "!git add . && git commit -m 'sync' && git push"
    last = log -1 HEAD --stat
    zoot = "!f() { git add -A && git commit -m \"$@\" && git pull --rebase && git push; }; f"
    lz = "!f() { git add -A && git commit -m \"sync\" && git pull --rebase && git push; }; f"

[color]
    ui = auto

; [color "branch"]
;     current = yellow reverse
;     local = yellow
;     remote = green

; [color "diff"]
;     meta = yellow bold
;     frag = magenta bold
;     old = red bold
;     new = green bold

; [color "status"]
;     added = yellow
;     changed = green
;     untracked = red

[core]
    excludesfile = /.gitignore
    editor = "nvim"

[credential]
    helper = cache --timeout=3600

[diff]
    tool = nvimdiff

[difftool]
    prompt = false

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
    trustExitCode = true  ; use :cq to abort commit message edit

[merge]
    tool = nfugitive

[mergetool]
    prompt = true

[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c 'wincmd w' -c 'wincmd J'

[mergetool "nfugitive"]
    cmd = nvim -f -c "Gvdiffsplit" "$MERGED"

[pull]
    rebase = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[commit]
    verbose = true

[help]
    autocorrect = 15
